[submodule "hugo-theme-til"]
	path = themes/hugo-theme-til
	url = https://github.com/michenriksen/hugo-theme-til.git
[submodule "themes/stack"]
	path = themes/stack
	url = https://github.com/CaiJimmy/hugo-theme-stack.git
